<ActionBar title="Listado"></ActionBar>

<GridLayout rows="auto, *">

  <GridLayout
    row="0"
    columns="*, auto"
    padding="10">

    <TextField
      col="0"
      hint="Buscar categoría"
      [(ngModel)]="textoBusqueda">
    </TextField>

    <Button
      col="1"
      text="Buscar"
      (tap)="buscar()">
    </Button>

  </GridLayout>

  <ListView
    row="1"
    [items]="resultadosBusqueda"
    (itemTap)="onItemTap($event)">

    <ng-template let-elemento="item">

      <FlexboxLayout
        flexDirection="row"
        alignItems="center"
        padding="10">

        <Image
          [src]="elemento.imagen"
          width="60"
          height="60"
          marginRight="15">
        </Image>

        <Label
          [text]="elemento.nombre"
          fontSize="18">
        </Label>

      </FlexboxLayout>

    </ng-template>

  </ListView>

</GridLayout>