.titulo-plataforma {
  font-size: 22;
  font-weight: bold;
  color: #C62828;
  text-align: center;
  margin: 15;
}

.lista-elementos {
  font-size: 17;
  margin: 8;
}

.boton-detalle {
  font-size: 18;
  margin: 15;
}